
<h2>Books</h2>

<% @books.each do  |book| %>

<%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>

<%= link_to book_path(book.id) do %>
<%= book.title %>
<% end %>

<%= book.body %>

<% end %>