<h2>Editting Book</h2>
<%= form_with model:@book, local:true do |f| %>
 <label for="inputTitle">Title</label>
 <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"title" %>
 <label for="inputOpinion">Opinion</label>
 <%= f.text_area :body, autofocus: true, id:"inputOpinion", placeholder: "opinion" %>
 <%= f.submit "Update Book" %>
<% end %>